# dependencies
/node_modules

*.log

# dist
/dist

# test
coverage
demo

# files
playground.js

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

